* {
    box-sizing: border-box;
}

.container {
    /* background-color: #f0f; */
    width: 1050px;
    margin: 0 auto;
    position: relative;
}

.box {
    padding: 0px 20px;
    margin: 0px;
    height: 65px;
    width: 1050px;
    background-color: skyblue;
    margin: 0 auto;
}

/* ----------------------------------------------- */
.hit {
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: yellow;
    position: absolute;
    left: 10px;
    top: 110px;
    text-align: center;
    z-index: 50;
    border-top: 5px solid lightgray;
    border-left: 5px solid lightgray;
    border-right: 5px solid gray;
    border-bottom: 5px solid gray;
    font-size: 40px;
    font-weight: bold;
    border-radius: 25px;
}

/* ----------------------------------------------- */
.miss {
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: red;
    position: absolute;
    left: 10px;
    top: 210px;
    text-align: center;
    z-index: 50;
    border-top: 5px solid lightgray;
    border-left: 5px solid lightgray;
    border-right: 5px solid gray;
    border-bottom: 5px solid gray;
    font-size: 40px;
    font-weight: bold;
    border-radius: 25px;
}

/* ----------------------------------------------- */
.box ul {
    margin: 0 auto;
    /* list-style: none; */
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: skyblue;
    display: inline-block;
    /* list-style: none; */
    display: flex;
}

.box li {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    padding: 0px;
    margin: 3px;
    background-color: lightcyan;
    border-top: 5px solid lightgray;
    border-left: 5px solid lightgray;
    border-right: 5px solid gray;
    border-bottom: 5px solid gray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* 【両端のグレーのキー】----------------------------------------------- */
/* 全角半角キー */
.dan1 ul li:first-child {
    width: 65px;
    background-color: #999;
    color: #ffffff;
}

/* Tabキー */
.dan2 ul li:first-child {
    width: 100px;
    background-color: #999;
    color: #ffffff;
}

/* CapsLockキー */
.dan3 ul li:first-child {
    width: 135px;
    background-color: #999;
    color: #ffffff;
}

/* 左Shiftキー */
.dan4 ul li:first-child {
    width: 170px;
    background-color: #999;
    color: #ffffff;
}

/* BackSpaceキー */
.dan1 ul li:last-child {
    width: 80px;
    background-color: #999;
    color: #ffffff;
}

/* Enterキー */
.dan2 ul li:last-child {
    width: 111px;
    background-color: #999;
    color: #ffffff;
    height: 125px;
    border-bottom: 5px solid gray;
}

/* 右Shiftキー */
.dan4 ul li:last-child {
    width: 107px;
    background-color: #999;
    color: #ffffff;

}

/* 【各列の色変え設定】----------------------------------------------- */
.box ul li:nth-child(2) {
    background-color: lightblue;
}

.box ul li:nth-child(3) {
    background-color: lightgreen;
}

.box ul li:nth-child(4) {
    background-color: lightsalmon;
}

.box ul li:nth-child(5) {
    background-color: lightcyan;
}

.box ul li:nth-child(6) {
    background-color: lightcyan;
}

.box ul li:nth-child(7) {
    background-color: lightblue;
}

.box ul li:nth-child(8) {
    background-color: lightblue;
}

.box ul li:nth-child(9) {
    background-color: lightgreen;
}

.box ul li:nth-child(10) {
    background-color: lightsalmon;
}

/* 【メニューのコンボボックス】----------------------------------------------- */
.menu {
    padding: 0px;
    margin: 0px;
    height: 30px;
    width: 1050px;

    background-color: #fff;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

/* 【スコア用のテーブル】----------------------------------------------- */
.score {
    padding: 0px;
    margin: 0px;
    height: 60px;
    width: 1050px;

    background-color: #fff;
    margin: 0 auto;
    position: relative;
}

.score table {
    border-collapse: separate;
    border-spacing: 1px;
    border: 1px solid lightblue;
    background-color: lightblue;
    margin: 0px auto;
}

.score tr:first-child td {
    text-align: center;
    width: 150px;
    background-color: lightcyan;
    border: 0px solid red;
}

.score tr:last-child td {
    text-align: right;
    width: 150px;
    background-color: #fff;
    border: 0px solid red;
}

/* 【問題表示エリア】----------------------------------------------- */
.dan0 {
    padding: 0px 10px;
    margin: 0px;
    height: 140px;
    width: 1050px;

    background-color: skyblue;
    margin: 0 auto;
    position: relative;
}

.quest {
    width: 900px;
    height: 100px;
    /* background-color: red; */
    margin: 10px auto;
    position: absolute;
    left: 50%;
    margin-left: -450px;
    height: 120px;
}

.quest .msg {
  background-color: #fff;
  position: relative;
  width: 900px;
  height: 80px;
  margin: 0px auto;
  font-size: 60px;

  display: flex;            /* 追加 */
  justify-content: center;  /* 追加：横中央 */
  align-items: center;      /* 追加：縦中央 */
}


.quest .msg .msgStr {
  position: static;        /* absolute をやめる */
  display: inline-block;
  height: 80px;
  line-height: 80px;
  overflow: hidden;

  text-align: center;      /* 右寄せをやめる */
  width: max-content;      /* 文字幅に合わせる */
  max-width: 100%;
  white-space: nowrap;
}

.quest .msg .unit {
    font-size: 30px;
    position: absolute;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    left: 200px;
    top: 33px;
    /* background-color: lightgreen; */
}


.quest .bufView {
    background-color: #eff;
    text-align: center;
    width: 900px;
    height: 40px;
    margin: 0px auto;
    font-size: 24px;
}

/* 【スペースキーの表示】----------------------------------------------- */
.dan5 {
    background-color: skyblue;
    position: relative;
}

.dan5 li {
    position: absolute;
    left: 250px;
    width: 400px;
    height: 60px;
    display: inline-block;
    margin: 0 auto;
}

/* 【練習記録のテーブル】----------------------------------------------- */
.history {
    background-color: #fff;
    padding: 5px;
}

.history table {
    border-collapse: separate;
    border-spacing: 1px;
    border: 1px solid lightblue;
    background-color: lightblue;
    margin: 0px auto;
}

.history tr:first-child td {
    text-align: center;
    width: 110px;
    background-color: lightcyan;
    border: 0px solid red;
}

.history tr:last-child td {
    text-align: right;
    width: 110px;
    background-color: #fff;
    border: 0px solid red;
    font-size: 14px;
    vertical-align: top;
    text-align: left;
}

.history span {
    font-size: 0.8em;
}

.inputAfter {
    color: #999;
}

.inputBuf {
    color: #999;
    background-color: #ff0;
}

.inputBefore {
    color: #000;
}
